.new_films {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
}

.film__poster {
  width: 33%;
  text-align: center;
}
.poster__img img {
  max-width: 100%;
  object-fit: cover;
  max-height: 250px;
}